html, body
  min-height 100%
  background main-bg-color

@keyframes fadeIn
  from
    opacity 0

#app
  animation fadeIn 1000ms $ease-in-quad

body
  background main-bg-color
  font font
  min-height 100vh

img
  max-width 100%

a
  color inherit

input[type="search"]
  background rgba(0, 0, 0, .2)

.content-body
  margin: 0 10px

::selection
  background #FEEEA7
  color #fff

@keyframes slideFromTop
  0%
    opacity 0
    transform translateY(-100%)
  90%
    transform translateY(1%)
  100%
    opacity 1
    transform translateY(0%)

nav
  animation slideFromTop 200ms $ease-in-out-quad

nav > li
  display block
  list-style none
  //text-transform: uppercase
  text-align center
  @media(min-width:768px)
    text-align right

nav > li.divider
  height auto
  width 100%
  background rgba(0 0 0 .1)

nav > li.divider span
  font-size 1.2rem
  text-align: right
  line-height 30px
  width 100%
  padding 0 20px
  display block
  color rgba(255 255 255 .5)

nav > li.divider span.empty
  height 5px

nav > li > a
  display block
  padding 0 20px
  font-size 1.1rem
  letter-spacing 1px
  color #fff
  transition background 200ms @ease-in-out-quad
  line-height 30px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

nav > li > a:hover
  background rgba(0 0 0 .1)

section#bookmarks
  li.bookmark
    list-style-type none
    a.title
      line-height 30px
      display block
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

ul, li
  list-style-type none

@keyframes displayList
  from
    opacity 0
    transform translateX(-100px)

ul#projects li.project
  a
    line-height 60px
    vertical-align bottom
    padding 0 0 0 20px
    background rgba(255 255 255 .1)
    margin 0 0 2px 0
    width 100%
    color #fff
    display block
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    animation displayList 200ms $ease-in-out-quad
  &:hover .actions
    opacity 1
    transition opacity 200ms $ease-in-out-quad

.actions
  opacity 0
  position absolute
  z-index 100
  padding 10px
  height 60px
  background rgba(255 255 255 .2)
  right 0
  transition background 200ms $ease-in-out-quad
  &:hover
    background rgba(255 255 255 .1)

.actions li
  display inline-block

span.delete
  cursor pointer
  display block
  font-size 1.2rem
  vertical-align bottom
  line-height 40px
  font-size 1rem
  border-radius 50%
  text-align center
  width 40px
  color #fff
  transition background 200ms $ease-in-out-quad
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  &:hover
    background #FC3D39

span.feedback
  display block
  color #fff

.toolbar
  position fixed
  bottom 0
  left 0
  right 0
  width 100%
  z-index 100
  background rgba(0, 0, 0, .2)

.toolbar
  padding 10px

.toolbar .actions
  float right

.toolbar input
  border 0
  display block
  width calc(100% - 80px)
  color #fff
  line-height 60px
  padding 0 0 0 10px
  margin 0 10px 0 10px
  &:focus
    box-shadow 0
    border 0

button#addProject
  border-radius 50%
  border 0
  position absolute
  z-index 100
  right 10px
  bottom 10px
  width 60px
  line-height 60px
  padding 0
  font-size 1rem
