.table
  display table
  width 100%

.tr
  display table-row

.tc
  display table-cell
  border-bottom 1px solid #ddd
  line-height 30px
  vertical-align middle

.tr:nth-child(odd)
  background: #f0f0f0

.thead
  width: 100%

.tr.thead
  background: none
  border-bottom: 0
  line-height: 2
  font-weight: 600

.tc > a
  color #D0021B
