.clearness #top-bar
  background rgba(0 0 0 .1)
  border-bottom 0
  *, *:before, *::after
    color: #fff

.clearness .page
  top 0

.clearness #top-bar.scrolled
  background rgba(0 0 0 .85)
  box-shadow none
