@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-eybx77');
	src:url('/fonts/icomoon.eot?#iefix-eybx77') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-eybx77') format('woff'),
		url('/fonts/icomoon.ttf?-eybx77') format('truetype'),
		url('/fonts/icomoon.svg?-eybx77#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
  color: #000;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.icon-close-big:before {
	content: "\e600";
}
.icon-add:before {
	content: "\e601";
}
.icon-close{
  text-align: center;
  line-height: 60px;
}
.icon-close:before {
	content: "\e602";
  font-size: 48px;
}
.icon-remove:before {
	content: "\e604";
}
.icon-sidebar, .icon-search, .icon-close{
  color: #fff;
  cursor: pointer;
  display: block;
  width: 60px;
  height: 60px;
}
.icon-search{
  text-align: center;
  line-height: 60px;
}
.icon-search:before {
	content: "\e607";
  font-size: 48px;
}
.icon-logo:before {
	content: "\e605";
  font-size: 60px;
  line-height: 60px;
}
.icon-logo{
  color: #fff;
  display: block;
  cursor: pointer;
  height: 60px;
  text-align: center;
}
.icon-sidebar:before {
	content: "\e603";
  font-size: 60px;
}
.icon-arrow:before {
	content: "\e606";
}
