.toolbar
  position: absolute
  z-index: 500
  legend
    font-size: 1rem
    margin: 0
    line-height: 1
  label
    font-size: .8rem

.toolbar-nav
  li
    margin: 0 10px
    display: inline-block

.toolbar.scrolled
  position: fixed
  top: 50px
  left: 60px
  padding: 10px 60px 10px 10px

.toolbarFixed-top
  position: fixed
  width: 100%
  top: 60px
  left: 0
  right: 0

.toolbarFixed-bottom
  background: rgba(255, 255, 255, .9)
  border-top: 1px solid #ddd
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 60px


.toolbarFixed-bottom > .btn-group
  .btn, button
    display: inline-block
    border-radius: 0
    line-height: 60px
    padding: 0 20px
    margin: 0

.toolbar label
  font-size: 1rem
  display: inline-block
  line-height: 30px
  padding: 12px 0

.slide
  .toolbarFixed-top
    position:absolute
    top: 0
