/*Typeahead*/
.items
  background: transparent
  color: #fff
  width: 100%
  display:inline-block
  .results
    line-height: 2
    text-indent: 1rem
    font-style: italic

.item
  padding: .5rem
  white-space:nowrap
  overflow:hidden
  text-overflow:ellipsis
  max-width:100%

.item 
  .image img
    width: 50px
    height: 50px

.item
  time
    margin: 0 10px 0 0
    float: left
  .title
    margin-left 10px
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    font-size 1rem
    line-height 1
  .act
    line-height 1
    margin-bottom .5rem
    font-weight 500
    font-size 1rem
