/*
 * Fonts
 */

font-family = 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif
font = normal 400 1rem 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif
proxima-soft = 'proxima-nova-soft', 'Helvetica Neue', Helvetica, Arial, sans-serif
activ-grotesk = 'aktiv-grotesk-std', 'Helvetica Neue', Helvetica, Arial, sans-serif

/*
 * My picker
 */

harvard-crimson = #D0021B //rgb(208, 2, 27)
//harvard-crimson(n)
//  rgba(208, 2, 27, n)
portland-orange = #FF5624
crayon-orange = #FF501E
outragous-orange = #F56836
periglacial-blue = #A9B9B3
onyx = #161616
rich-electric-blue = #0A8CCD
flame = #F1571C
light-yellow = #FFFEEE

/*
 * Crayola
 */

yosemite-campfire = #ED4C44

/*
 * Sketch Base Coors
 */

harvard-crimson = #D0021B
lighting-yellow = #F5A623
yellow-green = #81D920
yellow-green-light = #B8E986
rusty-nail = #8B572A
lemon = #F8E71C
fern = #417505
deep-magenta = #BD10E0
electric-violet = #9013FE
united-nations-blue = #4A90E2
turquoise = #50E3C2
armadillo = #4A4A4A
aluminium = #9B9B9B

/*
 * Tracklist
 */

login-bg-color = #3F51B5
main-bg-color = #f0f0f0
footer-color = onyx
links-color = rich-electric-blue
danger-color(n)
  rgba(208, 2, 27, n)
